@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* font-family: 'Inter', sans-serif; */

html {
    font-family: "Cabin", sans-serif;
}

/* --------------------HEADER---------------------------------- */

.top_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 52px 0 52px;
}

.logo {
    display: flex;
    column-gap: 18px;
}

.logo_text {
    font-size: 28px;
    font-weight: 500;
    line-height: 100%;
}

.top_menu-bar {
    display: flex;
    column-gap: 56px;
}

.top_menu-bar_item {
    color: #0e0f13;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
}

.top_menu-bar_item.active {
    color: #425df8;
}

.sign_buttons {
    display: flex;
    column-gap: 24px;
}

.sign_buttons button {
    font-size: 18px;
    text-align: center;
    line-height: 100%;
    font-weight: 500;
    letter-spacing: 0.72px;
    padding: 18px 22px;
    border-radius: 8px;
}

.sign-in_button {
    border: 1px solid #dadada;
}

.sign-up_button {
    color: #f6fdff;
    border: 1px solid #425df8;
    background: #425df8;
}

/* --------------------------MAIN-------------------------- */

.plan-title {
    text-align: center;
    margin-top: 157px;
    font-size: 64px;
    font-weight: 500;
    line-height: 100%;
}

.plan-title_description {
    margin-top: 24px;
    text-align: center;
    color: #7f828a;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 120px;
}

/* ----------------------------CARDS---------------------------- */

.cards {
    display: flex;
    column-gap: 24px;
    justify-content: center;
    margin-bottom: 195px;
    padding: 0 52px;
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 125px;
    padding: 56px;
    border-radius: 24px;
    border: 1px solid #dadada;
    background: #fdfdfd;
    box-sizing: border-box;
    text-transform: capitalize;
    margin-top: 28px;
}

.card.pro {
    margin-top: 0;
    row-gap: 97px;
    height: 817px;
    border: 1px solid #161a34;
    background: #161a34;
}

.card.pro a,
.card.pro p {
    color: #f6fdff;
}

.card-title {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
}

.card-name {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 125%;
}

.card-description {
    color: #7f828a;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
    width: 304px;
}

.prise_in_month {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}

.prise {
    color: #0e0f15;
    font-size: 64px;
    font-weight: 500;
    line-height: 125%; /* 80px */
}

.month {
    color: #7f828a;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%; /* 22px */
}

/* ----------------------CARD'S PROPERTIES-------------------- */

.properties {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.properies-string {
    display: flex;
    column-gap: 16px;
}

.properies-string img {
    align-self: flex-start;
}

.properies-string .property_text {
    align-self: center;
    line-height: 125%;
    width: 220px;
}

/* ---------------------CARD'S "GET STARTED"--------------------- */

.get-started {
    display: block;
    color: #f6fdff;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    border-radius: 8px;
    border: 1px solid #425df8;
    background: #425df8;
    padding: 18px 22px;
    width: fit-content;
    align-self: center;
}

/* --------------------------LINE-FOOTER------------------------- */

.line-footer {
    background: #0e0f13;
    height: 1px;
}

/* -------------------------FOOTER---------------------------- */

.under_part {
    padding: 16px 52px;
    display: flex;
    justify-content: space-between;
}

.under-logo {
    display: flex;
    column-gap: 16px;
}

.under-logo img {
    width: 24px;
}

.under_part p {
    color: #7f828a;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
