$bp-md: 768px;
$bp-lg: 1200px;
$main-color: #fff;
$section-works-background-color: #202020;
$section-projects-background-color: #3c3c3c;
$mobile-app-wrapper-background-color: #fffef2;
$section-design-background-color: #3c3c3c;
