@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300&family=Syne:wght@500&family=Urbanist:wght@300&display=swap');

/* font-family: 'Inter', sans-serif; */

.center-container {
    margin: 0 auto;
}

.top-menu_bar {
    padding: 32px 0;
    width: 635px;
}

.top-menu_bar-item:not(:first-of-type) {
    padding-left: 72px;
}

.top-menu_bar-item {
    font-size: 17.3px;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    width: fit-content;
}

.top-menu_bar-itme_link {
    color: black;
    text-decoration: none;
}

.logo {
    background-color: #00BDC9;
    padding: 92px 0;
}

.logo-frame_image {
    display: block;
    width: 599px;
}

.section-description-css {
    width: 856px;
    padding: 88px 0;
    font-family: 'Inter', sans-serif;
}

.description-title {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 40px;
}

.description-css_text {
    line-height: 150%;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 24px;
}

.description-css_text-blue {
    color: #04959E;
    font-weight: 600;
}

.list-of_css-description {
    margin-bottom: 40px;
    padding-left: 23px;
}

.list-of_css-description_item {
    list-style-type: value;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.button_learn {
    display: block;
    width: fit-content;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 24px;
    background-color: #04959E;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border: none;
}

.under-line {
    width: 100%;
    height: 1px;
    background-color: #161616
}

.information {
    padding: 16px 0;
}

.information_text {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
}