.section-books {
    background-color: $section-book-background-color;
    padding: 136px 52px 120px;

    &__title {
        color: #1f1f1f;
        font-size: 32px;
        font-weight: 600;
        line-height: 40px; /* 125% */
        padding-bottom: 23px;
        border-bottom: 1px solid $border-line-color;
    }

    &__books-wrapper {
        @include flex(start, space-between, row);
        flex-wrap: wrap;
        row-gap: 32px;
        padding-top: 24px;

        .section-books__book-wrapper {
            padding: 32px;
            @include flex(start, start, column);
            gap: 16px;
            border: 1px solid $border-line-color;

            .section-books__inscription-wrapper {
                position: relative;

                & img {
                    padding: 0 32px;
                }

                .section-books__inscription {
                    display: flex;
                    gap: 4px;
                    position: absolute;
                    top: 0;
                    left: 0;

                    & p {
                        color: $light-color;
                        text-align: center;
                        font-size: 16px;
                        line-height: 24px; /* 150% */
                        width: fit-content;
                        padding: 4px 8px;
                        border-radius: 4px;
                    }

                    .inscription_hit {
                        background-color: #4200ff;
                    }

                    .inscription_new {
                        background-color: #af39e7;
                    }

                    .inscription_discount {
                        background-color: #ea33c0;
                    }
                }
            }

            .section-books__name-and-price-wrapper {
                width: 100%;
                @include flex(start, start, column);
                gap: 8px;

                .section-books__name-and-author-of-book {
                    width: 100%;
                    @include flex(start, start, column);

                    .section-books__book-name {
                        width: 100%;
                        color: $section-book-primary-color;
                        text-overflow: ellipsis;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 28px; /* 140% */
                        border-bottom: 1px solid $border-line-color;
                    }

                    .section-books__book-author {
                        color: $section-book-secondary-color;
                        font-size: 16px;
                        line-height: 24px; /* 150% */
                    }
                }

                .section-books__book-price-wrapper {
                    display: flex;
                    gap: 24px;

                    .section-books__book-price {
                        color: $book-price-color;
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 32px; /* 133.333% */
                    }

                    .section-books__early_book_price {
                        color: $early-book-price-color;
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 32px; /* 133.333% */
                        text-decoration: line-through;
                    }
                }
            }

            .section-books__btn-add-to-basket {
                width: 100%;
                background-color: $btn-add-to-basket-background-color;
                padding: 8px 24px;
                border: none;
                color: $light-color;
                border-radius: 4px;
                text-align: center;
            }

            .section-books__btn-end-up {
                width: 100%;
                background-color: $btn-end-up-background-color;
                padding: 8px 24px;
                border: none;
                color: $light-color;
                border-radius: 4px;
            }
        }
    }
}
