@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");

html {
    font-family: "Quicksand", sans-serif;
}

/* ------------------------HEADER---------------------------- */

header {
    padding: 16px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left-wrapper {
    display: flex;
    align-items: center;
}

header > div {
    display: flex;
    gap: 32px;
}

/* -------------------------BURGER MENU----------------------- */

.menu-btn {
    border: none;
    background-color: #0f8277;
    padding: 10px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    z-index: 4;
}

.menu-input {
    position: absolute;
    opacity: 0;
    margin-top: 0;
    margin-left: 0;
    width: 38px;
    height: 38px;
    z-index: 3;
}

.upper-burger-line {
    transition: 0.6s;
}

.menu-input:checked ~ .upper-burger-line {
    transform: translateY(8px) rotate(45deg);
}

.middle-burger-line {
    transition: 1s;
}

.menu-input:checked ~ .middle-burger-line {
    transform: rotate(225deg);
}

.lower-burger-line {
    transition: 0.6s;
}

.menu-input:checked ~ .lower-burger-line {
    transform: translateY(-8px) rotate(-45deg);
}

/* ---------------------MENU WRAPPER-------------------------- */

.menu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1333px;
    background: rgba(14, 14, 14, 0.25);
    z-index: 3;
    display: none;
}

.menu-container {
    padding: 16px 8px 40px 8px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 360px;
    background-color: #fff;
}

.menu-logo {
    color: #000;
    text-decoration: none;
    margin-left: 74px;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    letter-spacing: 0.44px;
}

.menu-container .search-wrapper {
    width: 100%;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.nav-menu__item {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}

.menu-container__line {
    height: 1px;
    border-radius: 100px;
    background: #000;
}

.themes-wrapper,
.goals-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.themes-wrapper__name,
.goals-wrapper__name {
    font-size: 16px;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}

.themes-list,
.goal-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.themes-list__item,
.goal-list__item {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}

/* -------------------------PAGE NAME------------------------ */

.page-name {
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    letter-spacing: 0.44px;
}

.explore-options-wrapper {
    display: flex;
    gap: 8px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #0f8277;
    color: #eee;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}

.search-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    border-radius: 4px;
    border: 1px solid #5c5c5c;
}

.search-wrapper__text {
    padding-left: 12px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    border: none;
}

.search-wrapper__text:focus {
    outline: none;
}

.search-btn-link {
    background: #0f8277;
    padding: 10px;
    border: none;
}

.header-right-wrapper {
    display: flex;
    gap: 104px;
    align-items: center;
}

.courses-wrapper {
    display: flex;
    gap: 48px;
    align-items: center;
}

.courses-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}

.authorization {
    display: flex;
    gap: 16px;
}

.log-in-link {
    text-decoration: none;
    color: #0f8277;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
    padding: 10px 12px;
}

.log-up-link {
    text-decoration: none;
    color: #eee;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
    padding: 10px 12px;
    border-radius: 4px;
    background: #0f8277;
}
