/* ---------------------------------MAIN--------------------- */

@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap");

/* ------------------------PAGE TITLE WRAPPER----------------- */

.page-title-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 118.5px 16px;
    margin: 0 8px;
    border-radius: 12px;
    background: #dbf3ed;
}

.onscription-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    z-index: 2;
}

.onscription-wrapper__onscription {
    color: #000;
    font-size: 46px;
    font-weight: 700;
    line-height: 120%; /* 55.2px */
}

.onscription-wrapper__description {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
}

.onscription-wrapper__learning-links {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.learning-links__start-learning {
    padding: 10px 12px;
    gap: 10px;
    border-radius: 4px;
    background: #0f8277;
    text-align: center;
    text-decoration: none;
    color: #eee;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
}

.learning-links__start-learn-more {
    border-radius: 4px;
    border: 2px solid #0f8277;
    padding: 10px 12px;
    text-decoration: none;
    color: #0f8277;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
}

.page-title-wrapper__img {
    position: absolute;
    width: 350px;
    right: 20px;
    top: 76px;
}

/* --------------------PROGRAM LIST WRAPPER------------------- */

main {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.program-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 8px;
}

.program-list-title {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.program-list-title__author {
    color: #0f8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}

.program-list-title__onscription {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 120%; /* 36px */
}

.program-list-title__description {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}

.program-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

.popular-courses-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

.program-list-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #bababa;
    border-radius: 15px;
}

.popular-courses-list-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #bababa;
    border-radius: 15px;
}

.program-list-item__img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.program-list-item__content {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.education-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}

.popular-courses-list .education-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 16px;
}

.education-wrapper p {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
}

.education-wrapper + p {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%; /* 21.6px */
}

.get-diplom-wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
    text-decoration: none;
}

.get-diplom-wrapper p {
    color: #0f8277;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
}

.more-courses-link {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #0f8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}

/* --------------------------SECTION TOPICS------------------ */

.topics-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 8px;
}

.topics-section__title {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 120%; /* 36px */
}

.topics-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    row-gap: 32px;
}

.topics-list-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.topics-list-item__title {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%; /* 21.6px */
}

.data-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data-wrapper > p:first-child {
    color: #0f8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}

.data-wrapper > p:last-child {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
}

/* ---------------------------SECTION COOPERATION-------------- */

.cooperation-section {
    display: flex;
    padding: 64px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background: #dbf3ed;
}

.cooperation-section__onscription {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 120%; /* 36px */
}

.cooperation-section__companies-wrapper {
    display: flex;
    gap: 14px;
    row-gap: 24px;
    width: 350px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* -------------------------------SECTION SOLUTION------------- */

.solution-section {
    margin: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.solution-section__information-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.information-wrapper__title {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 120%; /* 36px */
}

.information-wrapper__onscription {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
}

.information-wrapper_contact-btn {
    text-decoration: none;
    border-radius: 4px;
    background: #0f8277;
    padding: 10px 12px;
    color: #eee;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
}

.solution-section__images-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.solution-section__images-wrapper div {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-border {
    border-right: 1px solid #bababa;
}

.bottom-border {
    border-bottom: 1px solid #bababa;
}

/* -------------------------SECTION PRICE LIST---------------- */

.section-price-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 64px 8px 80px 8px;
    background: #dbf3ed;
}

.price-list {
    display: grid;
    gap: 32px;
}

.section-price-list__title {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 120%; /* 36px */
}

.price-list-item {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 24px;
    border: 1px solid #0f8277;
    background-color: #fdfdfd;
}

.price-list-item__information-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.information-wrapper__name {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%; /* 21.6px */
}

.information-wrapper__description {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
}

.information-wrapper__price-duration {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.information-wrapper__price {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 120%; /* 36px */
}

.information-wrapper__duration {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    text-transform: uppercase;
}

.get-started-link__wrapper {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.information-wrapper__get-started-link {
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 4px;
    background: #0f8277;
    color: #f6fdff;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.64px;
}

.price-list-item__line {
    height: 2px;
    border-radius: 80px;
    background: #0f8277;
}

.price-list-item__advantages-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.advantages-list-item {
    display: flex;
    gap: 16px;
}

.advantages-list-item img {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f8277;
    border-radius: 50%;
}

.advantages-list-item__description {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
}

/* -----------------------------PRO CARD----------------------- */

.price-list-item.pro {
    border: 1px solid #0f8277;
    background: #0f8277;
}

.pro .information-wrapper__name {
    color: #fff;
}

.pro .information-wrapper__description {
    color: #fff;
}

.pro .information-wrapper__price {
    color: #fff;
}

.pro .information-wrapper__duration {
    color: #fff;
}

.pro .information-wrapper__get-started-link {
    color: #fff;
    border-radius: 4px;
    border: 2px solid #fff;
    background: #0f8277;
}

.pro .price-list-item__line {
    height: 1px;
    border-radius: 80px;
    background: #fff;
}

.pro .advantages-list-item img {
    background-color: #fff;
    border-radius: 50%;
    padding: 1px;
}

.pro .advantages-list-item__description {
    color: #fff;
}

/* --------------------SECTION STUDENTS PHOTO ------------------*/

.section-students-photo {
    margin: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section-students-photo_title {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 120%; /* 36px */
}

.students-photo-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 24px;
    grid-template-areas:
        "a c"
        "b i"
        "d d"
        "d d"
        "e g"
        "h f";
}

.students-photo-wrapper img {
    width: 100%;
}

.item-1 {
    grid-area: a;
}

.item-2 {
    grid-area: b;
}

.item-3 {
    grid-area: c;
}

.item-4 {
    grid-area: d;
}

.item-5 {
    grid-area: e;
}

.item-6 {
    grid-area: f;
}
.item-7 {
    grid-area: g;
}

.item-8 {
    grid-area: h;
}

.item-9 {
    grid-area: i;
}
