/* -------------------MEDIE---------------------------------- */

.tablet {
    display: none;
}

.desktop {
    display: none;
}

@media (min-width: 768px) {
    /* ---------------------------HEADER------------------------ */
    header {
        padding: 16px 12px;
    }

    .tablet {
        display: block;
    }

    /* -----------------------------MAIN------------------------ */

    .tablet {
        display: block;
    }

    .page-title-wrapper {
        padding: 103px 0 104px 64px;
        margin: 0 12px;
    }

    .onscription-wrapper {
        width: 380px;
    }

    .onscription-wrapper__learning-links {
        flex-direction: row;
        align-items: center;
    }

    .program-list-wrapper {
        gap: 40px;
    }

    .program-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    .popular-courses-list {
        grid-template-columns: repeat(4, 1fr);
    }

    .program-list-item__img {
        width: 100%;
    }

    .program-list-item__content {
        box-sizing: border-box;
        height: 200px;
        justify-content: space-between;
    }

    .popular-courses-list-item .program-list-item__content {
        box-sizing: border-box;
        height: 230px;
        justify-content: space-between;
    }

    .education-wrapper {
        width: 200px;
    }

    .popular-courses-list-item .education-wrapper {
        width: auto;
    }

    .education-wrapper p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .topics-section {
        margin: 0 12px;
        gap: 40px;
    }

    .topics-list {
        grid-template-columns: repeat(4, 1fr);
    }

    .cooperation-section__companies-wrapper {
        width: 100%;
        justify-content: space-between;
    }

    /* -------------------------------SECTION SOLUTION------------- */

    .solution-section {
        margin: 0 12px;
        flex-direction: row;
        gap: 24px;
    }

    .solution-section__information-wrapper {
        width: 360px;
    }

    /* -------------------------SECTION PRICE LIST---------------- */

    .section-price-list {
        gap: 40px;
        padding: 64px 12px 80px 12px;
    }

    .price-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    .price-list-item__information-wrapper {
        gap: 27px;
        height: 290px;
    }

    .information-wrapper__get-started-link {
        width: auto;
    }

    /* --------------------SECTION STUDENTS PHOTO ----------------*/

    .section-students-photo {
        margin: 0 12px;
        gap: 40px;
    }

    .students-photo-wrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "a i i h"
            "b i i g"
            "c d e f";
    }

    /* ----------------------SECTION CONTACT US-------------------- */

    .form-contact-us {
        padding: 64px 12px;
    }

    .section-contact-us__send-btn {
        width: 170px;
    }

    /* ---------------------FOOTER---------------------------- */

    footer {
        margin: 32px 12px;
        flex-direction: row;
        justify-content: space-between;
        gap: unset;
    }

    .footer-description {
        width: 306px;
        align-items: flex-start;
    }

    .footer-description-logo {
        text-align: start;
    }

    .footer-description__description {
        text-align: start;
    }

    .footer-links {
        gap: unset;
        align-items: flex-end;
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    .phone {
        display: none;
    }
    .tablet {
        display: none;
    }
    .desktop {
        display: flex;
    }

    /* ---------------------------HEADER------------------------ */

    header {
        padding: 30px 36px 0 36px;
    }

    .header-left-wrapper {
        display: flex;
        gap: 44px;
        align-items: center;
    }

    /* -----------------------------MAIN------------------------ */

    main {
        gap: 80px;
    }

    .page-title-wrapper {
        padding: 170px 0 184px 110px;
        margin: 31px 36px 80px 36px;
    }

    .onscription-wrapper {
        width: 512px;
    }

    .program-list-wrapper {
        margin: 0 36px;
    }

    .program-list-item__img {
        height: 270px;
    }

    .program-list-item__content {
        height: 210px;
    }

    .program-list-title__author {
        font-size: 20px;
    }

    .program-list-title__onscription {
        font-size: 40px;
    }

    .program-list-title__description {
        font-size: 20px;
    }

    .education-wrapper {
        width: auto;
    }

    .education-wrapper p {
        font-size: 16px;
    }

    .education-wrapper + p {
        font-size: 24px;
    }

    .get-diplom-wrapper p {
        font-size: 14px;
    }

    .topics-section {
        margin: 0 36px;
    }

    /* -------------------------------SECTION SOLUTION------------- */

    .solution-section {
        margin: 0 36px;
        gap: 72px;
        align-items: center;
    }

    .solution-section__information-wrapper {
        width: 636px;
    }

    .information-wrapper__onscription {
        width: 568px;
    }

    .information-wrapper_contact-btn {
        width: 131px;
    }

    .solution-section__images-wrapper.desktop {
        display: grid;
    }

    /* -------------------------SECTION PRICE LIST---------------- */

    .section-price-list {
        padding: 80px 36px 100px 36px;
    }

    .price-list-item {
        gap: 48px;
    }

    .information-wrapper__name {
        font-size: 24px;
    }

    .information-wrapper__description {
        font-size: 16px;
    }

    .information-wrapper__price {
        font-size: 40px;
    }

    .information-wrapper__duration {
        font-size: 16px;
    }

    .information-wrapper__get-started-link {
        font-size: 18px;
    }

    .advantages-list-item__description {
        font-size: 16px;
    }

    /* --------------------SECTION STUDENTS PHOTO ----------------*/

    .section-students-photo {
        margin: 0 36px;
    }

    /* ----------------------SECTION CONTACT US-------------------- */

    .form-contact-us {
        padding: 80px 256px;
    }

    .section-contact-us__information-wrapper__title {
        font-size: 40px;
    }

    .section-contact-us__information-wrapper__description {
        font-size: 20px;
    }

    .section-contact-us__label {
        font-size: 22px;
    }

    .section-contact-us__input {
        font-size: 16px;
    }

    .section-contact-us__textarea {
        font-size: 16px;
    }

    .section-contact-us__send-btn {
        width: 196px;
        font-size: 18px;
    }

    /* ---------------------FOOTER-------------------------- */

    footer {
        margin: 64px 36px;
    }

    .footer-description-logo {
        font-size: 32px;
    }

    .footer-description__description {
        font-size: 16px;
    }

    .footer-links__social-wrapper img {
        width: 32px;
    }

    .footer-sign {
        font-size: 16px;
    }
}
