footer {
    @include flex(start, space-between, row);
    background-color: $footer-background-color;
    padding: 32px 52px;

    & p {
        color: $light-color;
        font-size: 16px;
        line-height: 24px; /* 150% */
    }
}
