@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700;800&display=swap");

html {
    font-family: "Urbanist", sans-serif;
}

/* --------------------------------HEADER----------------------- */

header {
    padding: 14px 36px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.menu_items {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu_item {
    color: #1a1b1b;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.live_link {
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    padding-left: 8px;
    border-left: 1px solid #d4d4d4;
}

.live_link p {
    color: #ed0e05;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

/* --------------------------------MAIN-------------------------- */

main {
    padding: 50px 36px;
}
