$heading-background-color: #10bbd5;
$light-color: #f8fdfe;
$section-book-background-color: #eeeeef;
$border-line-color: #a8a8a8;
$section-book-primary-color: #1f1f1f;
$section-book-secondary-color: #8e8e8e;
$book-price-color: #e90000;
$early-book-price-color: #8e8e8e;
$btn-add-to-basket-background-color: #4c394e;
$btn-end-up-background-color: #4d762d;
$footer-background-color: #4c394e;
